<h1>Explore Latest</h1>
<div class="allscategory">
    <% if(recipe != '') { %> 
        <% recipe.forEach(function(recipe, index) { %>
            <a class="boxitem" href="/recipe/<%- recipe._id %>">
                <div class="explorecategory">
                    <img src="uploads/<%- recipe.image %> " alt="<%- recipe.name %>">
                </div>
                <div><%- recipe.name %></div>
            </a>
        <% }) %>
    <% } else {%>
        <p>No items found</p>
    <% } %>
</div>