<h1>Explore Latest</h1>
<div>
    <% if(recipe != '') { %> 
        <% recipe.forEach(function(recipe, index) { %>
            <a href="/recipe/<%- recipe._id %>">
                <div class="category">
                    <img src="img/<%- recipe.img %> " alt="<%- recipe.name %>">
                </div>
                <div><%- recipe.name %></div>
            </a>
        <% }) %>
    <% } else {%>
        <p>No items found</p>
    <% } %>
</div>