*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/cookingback.jpg);
    background-color: gainsboro;
    font-family: sans-serif;
}
a{
    color: black;
}
.mainbody{
    background: white;
    max-width: 1000px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 500px;
    box-shadow: 0 5px 10px 0 rgba(168, 168, 168, 0.3), 0 7px 21px 0 rgb(92, 91, 91);
}
.logo{
    font-size: 35px;
    font-weight: 600;
}
header{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 980px;
    margin-bottom: 50px;
    border-bottom: 2px solid blue;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
}
.divtitle{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.titleimg img{
    height: 250px;
    width: 370px;
    object-fit: cover;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 150px;
    border-top-right-radius: 80px;
    box-shadow: 5px 3px black;
}
.titlediv{
    width: 50%;
    display: block;
    justify-content: center;
    align-items: center;
}
.recipebtn{
    margin-top: 15px;
}
.latestbtn{
    border-radius: 5px;
    background: linear-gradient(to left, #743ad5, #d53a9d);
    color: white;
    padding: 10px;
}
.randomtbtn{
    border: 1px solid black;
    padding: 8px;
    border-radius: 5px;
}
.category{
    margin: 50px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
.categorylatest{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}
.allscategory{
    margin: 50px 0px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px 50px;
}
.boxitem{
    height: 200px;
    width: 150px;
    border-radius: 5px;
    margin: 10px;
    margin-bottom: 50px;
}
.boxitem div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.categoryimg img{
    height: 80px;
    width: 130px;
    object-fit: fill;
    border-radius: 5px;
}
/* latest recipe */
.explorecategory img,
.allcategory img,
.americancategory img,
.latestcategory img{
    height: 200px;
    width: 150px;
    border-radius: 5px;
}
.selection{
    display: flex;
    align-items: center;
    list-style: none;
}
.footermain{
    padding: 20px;
    margin-top: 50px;
}
.imgfooter{
    max-width: 80%;
    display: flex;
    justify-content: space-around;
}
.img1{
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 180px;
    border-top-left-radius: 110px;
    border-top-right-radius: 80px;
}
.img2{
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 250px;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
}
.img3{
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 150px;
    border-top-left-radius: 110px;
    border-top-right-radius: 280px;
}
.footersection img{
    width: calc(100% / 3 - 3);
    height: 100px;
    margin: 20px;
    box-shadow: 10px 5px rgb(216, 214, 214), 10px 5px white;
}
.submitrecipe,
.footersection{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.colbtn button,
.footersection a{
    border-radius: 5px;
    background: linear-gradient(to left, #743ad5, #d53a9d);
    color: white;
    padding: 10px;
}
.footerbtn{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.formbox{
    display: flex;
    justify-content: center;
}
.centerbox{
    width: 50%;
    padding: 30px;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
textarea,
input{
    width: 100%;
    padding: 5px 10px;
    margin: 8px 0;
    border-radius: 5px;
    outline: none;
}
.col,
.row{
    border-style: none;
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.colbtn{
    border-style: none;
    margin: 10px;
    display: flex;
}
.boxrecipe img{
    height: 450px;
    width: 300px;
    border-radius: 5px;
}
.boxrecipe{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding: 10px 50px;
}
.boxrecipe ul{
    display: block;
    margin: 10px;
}
.boxrecipe ul li{
    margin: 10px;
}
.viewmore{
    display: flex;
    justify-content: space-between;
    align-items: center;
}